/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  display: grid;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

.about-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.host-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 30px 30px 0 20px;
  text-align: center;
}

.logo {
  display: flex;
  font-family: "Pangolin", cursive;
  font-size: 64px;
  color: #fff;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  padding: 0 20px 0 0;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  padding-right: 10px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */


/* -------  General Styles ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
  }
  
  .logo {
    font-size: 48px;
    padding-left: 5px;
  }

  /* -------  Search Form ------- */

  form {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  form label {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .form-input {
    padding-right: 15px;
    justify-content: center;
  }

  button {
    justify-content: center;
  }

  /* -------  Groups & Items------- */

  .group {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .item button,
  .item input,
  .item label,
  .item select {
    display: flex;
    width: 100%;
  }

  .item {
    flex: 1;
    margin: 15px;
  }

  .item-double {
    flex: 2;
    margin: 15px;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}